/* A11y Dialog */
.dialog:not(.dialog-container) {
    display: none;
}

.dialog-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    &[aria-hidden='true'] {
        display: none;
    }
    div[data-a11y-dialog-hide] {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    button[data-a11y-dialog-hide] {
        float: right;
    }
}

.dialog-inner {
    max-height: 50%;
    max-width: 50%;
    overflow-y: scroll;
    background: #fff;
    padding: 60px;
    @media (min-width: 768px) {
        max-width: 70%;
        max-height: 70%;
    }
    @media (max-width: 768px) {
        max-width: 90%;
        max-height: 80%;
    }
    img {
        max-width: 100%;
    }
}

.dialog-overlay {
    background-color: rgba(43, 46, 56, 0.9);
}

.dialog-content {
    margin: auto;
    position: relative;
    background-color: white;
}

.sr-only {
    display: none;
}